:root {
    --card-height: 5.5rem;
    --card-width: 4.5rem;
    --bg-color: #4e270b;
    --highlight-color: orangered;
    --valid-color: #2c4413;
    --valid-text-color: #63c300;
    --invalid-color: darkred;
    --row-color: #642c05;
    --border-color: #211004;
}

body {
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: white;
}

.button {
    background-color: #4c8077;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    padding: 0.2rem;
    box-shadow: 0 0 6px black;
    margin: 0.1rem;
}

.button:hover {
    background-color: #3a6944;
}

.button:active {
    background-color: #063a19;
}