<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deck building</title>
    <link href="/static/deck.css" rel="stylesheet"/>
    <link href="/static/style.css" rel="stylesheet"/>
    <style>

        nav {
            margin: auto;
            width: fit-content;
        }

        .threecolumn {
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
        }

        .div-btn {
            margin: auto;
        }

        .button.invalid {
            visibility: hidden;
        }
    </style>
</head>
<body>
<nav>
    <a class="button" href="/deck/{{.PrevDeck}}">← Previous</a>
    <h1 style="display: inline; color: #ff856b">{{.Name}}</h1>
    <a class="button" href="/deck/{{.NextDeck}}">Next →</a>
</nav>

<div class="twocolumn">
    <form action="." method="post">
        <label for="name-input">Name</label>
        <input id="name-input" name="name" value="{{.Name}}">

        <label for="faction-input">Faction</label>
        <select id="faction-input" name="faction">
            <option selected value="">(unchanged)</option>
            <option value="NorthernRealms">NorthernRealms</option>
            <option value="Nilfgaard">Nilfgaard</option>
            <option value="ScoiaTael">Scoia'Tael</option>
            <option value="Monsters">Monsters</option>
        </select>

        <button type="submit">Change</button>
    </form>
    <form action="/deck/" method="post">
        <label for="faction-input2">Faction</label>
        <select id="faction-input2" name="faction">
            <option value="NorthernRealms">Northern Realms</option>
            <option value="Nilfgaard">Nilfgaard</option>
            <option value="ScoiaTael">Scoia'Tael</option>
            <option value="Monsters">Monsters</option>
        </select>
        <button type="submit">Add new deck</button>
    </form>
</div>

<header class="threecolumn">
    <div>
        <h1>All Cards</h1>
    </div>
    <div class="div-btn">
        <p>Faction: <em>{{.Faction}}</em></p>
        <a class="button" href="start/" id="enter-game" style="font-size: 1.3rem">Enter game</a>
        <p>Unit cards: <b id="rating">0/22</b></p>
    </div>
    <div>
        <h1>Deck</h1>
    </div>
</header>

<main class="twocolumn">
    <section class="drop-dest"
             id="rest"
             ondragover="onDragOver(event)"
             ondrop="dropCard(event)">

        {{range .Rest}}
        <img class="card {{if .IsUnit}}unit{{end}}" draggable="true"
             id="card-{{.Id}}"
             ondblclick="doubleClick(event, '{{.Id}}')"
             ondragend="endDragCard(event)"
             ondragstart="startDragCard(event,'{{.Id}}')" src="/static/{{.Picture}}"/>
        {{end}}

    </section>
    <section
            class="drop-dest"
            id="deck"
            ondragover="onDragOver(event)"
            ondrop="dropCard(event)">

        {{range .Deck}}
        <img class="card {{if .IsUnit}}unit{{end}}" draggable="true"
             id="card-{{.Id}}"
             ondblclick="doubleClick(event, '{{.Id}}')"
             ondragend="endDragCard(event)"
             ondragstart="startDragCard(event,'{{.Id}}')" src="/static/{{.Picture}}"/>
        {{end}}

    </section>
</main>
<script>
    function rating() {
        let units = 0;
        document.getElementById('deck').childNodes.forEach((item) => {
            try {
                if (item.classList.contains('unit')) {
                    units += 1;
                }
            } catch (e) {
            }
        });
        let rating = document.getElementById('rating');
        let btn = document.getElementById('enter-game')
        if (units < 22) {
            rating.classList.add('invalid')
            rating.classList.remove('valid')
            btn.classList.add('invalid')
            btn.classList.remove('valid')
        } else {
            rating.classList.add('valid')
            rating.classList.remove('invalid')
            btn.classList.add('valid')
            btn.classList.remove('invalid')
        }
        rating.innerText = `${units}/22`;
    }

    rating()

    function doubleClick(event, cardid) {
        if (event.target.parentNode.id === 'rest') {
            fetch('add/' + cardid, {
                method: "POST"
            }).then(r => console.log(r.url))

            let fig = document.getElementById(event.target.id)
            document.getElementById('deck').appendChild(fig);
        } else /*(event.target.parentNode.id === 'deck')*/{
            fetch('remove/' + cardid, {
                method: "POST"
            }).then(r => console.log(r.url))

            let fig = document.getElementById(event.target.id)
            document.getElementById('rest').appendChild(fig);
        }
        rating();
    }

    function startDragCard(event, cardid) {
        event.dataTransfer.setData("id", event.target.id);
        event.dataTransfer.setData("cardid", cardid);
        event.dataTransfer.setData("parentid", event.target.parentNode.id)
        event.dataTransfer.dropEffect = "move";

        if (event.target.parentNode.id === 'rest') {
            let indic = document.createElement('div');
            indic.id = 'indic';
            indic.innerText = ""
            indic.classList.add('card')
            document.getElementById('deck').appendChild(indic);
        }
    }

    function dropCard(event) {
        event.preventDefault();
        let target = event.target;
        if (!target.classList.contains('drop-dest')) {
            target = target.parentNode
        }

        if (target.id === event.dataTransfer.getData('parentid')) {
            return
        }

        let fig = document.getElementById(event.dataTransfer.getData("id"))
        target.appendChild(fig);

        if (target.id === 'deck') {
            fetch('add/' + event.dataTransfer.getData("cardid"), {
                method: "POST"
            }).then(console.log)
        }
        if (target.id === 'rest') {
            fetch('remove/' + event.dataTransfer.getData("cardid"), {
                method: "POST"
            }).then(console.log)
        }
        rating();
    }

    function endDragCard(event) {
        let indic = document.getElementById('indic');
        if (indic !== null)
            indic.remove();
    }

    function onDragOver(event) {
        event.preventDefault();

        /*if (event.target.classList.contains('drop-dest')){
            if(event.target.id !== event.dataTransfer.getData('parentid')){
                //valid transfer
                let indic = document.createElement('div');
                indic.id='indic';
                indic.innerText="placeholder"
                event.target.appendChild(indic);
            }
        }*/

    }
</script>
</body>
</html>