<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5 Gwynt</title>
    <link href="/static/style.css" rel="stylesheet"/>

    <style>
        .leader {
            position: relative;
            padding-top: 1rem;
            background-color: black;
            width: 100%;
            color: white;
        }

        .main-score {
            display: block;
            position: absolute;
            background-color: white;
            border-radius: 5rem;
            padding: 0.3rem;
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
            line-height: 1.5rem;
            border: 0.1rem solid black;
            font-family: sans-serif;
            font-size: 1.1rem;
            z-index: 3;
            color: black;
            top: -1rem;
            left: 2rem;
            font-weight: bold;
        }

        .leader-img {
            display: block;
            border-radius: 0.4rem;
            height: 6.9rem;
            width: 5rem;
            object-fit: cover;
            object-position: 0 0;
        }
    </style>

</head>
<body>

{{template "table.html" .}}

<a href="/demo">refresh</a>

<form id="form-play-move" action="{{.Url}}" method="post">
    <label for="card-id">Card ID to play</label>
    <input name="id" id="card-id" type="number">

    <label for="card-row">Row to play card (CloseCombat, RangedCombat, Siege)</label>
    <input name="row" id="card-row" type="text">
    <button id="form-play-submit" type="submit">Play</button>
</form>
<script>
    let highlightColor = "peru";
    let normalRows = ['Weather', 'CloseCombat', 'RangedCombat', 'Siege']

    function startDragCard(event, row, cardid) {
        let target = event.target
        if (!target.classList.contains('draggable')) {
            target = target.parentNode;
        }
        // when the user starts to drag a card
        event.dataTransfer.setData("id", target.id);
        event.dataTransfer.setData("row", row);
        event.dataTransfer.setData("cardid", cardid);
        event.dataTransfer.dropEffect = "move";
        if (normalRows.indexOf(row) > 0) {
            document.getElementById(row).classList.add('dnd-highlight');
            //document.getElementById(row).style.background = highlightColor;
        } else {
            document.querySelectorAll('.' + row).forEach((item) => {
                item.classList.add('dnd-highlight')
            });
        }
        document.querySelectorAll('.drop-dest').forEach((item) => {
            item.classList.add('dnd-operation')
        })
    }

    function dropCard(event) {
        event.preventDefault();
        event.target.style.background = "";
        let target = event.target;
        /*while (!target.classList.contains("drop-dest")) {
            target = target.parentNode;
        }*/

        if (target.classList.contains(event.dataTransfer.getData("row"))) {
            let fig = document.getElementById(event.dataTransfer.getData("id"))
            fig.draggable = false;
            fig.childNodes.forEach((child) => {
                child.draggable = false
            })
            fig.classList.remove('draggable')
            target.appendChild(fig);
            //target.appendChild(document.getElementById(event.dataTransfer.getData("id")))
            let target_row = target.id;
            playMove(event.dataTransfer.getData("cardid"), target_row)
        }
    }

    function onDragOver(event) {
        /*if (event.target.classList.contains("drop-dest")) {
            event.preventDefault();
        }*/
        event.preventDefault();
    }

    function onDragEnter(event) {
        //when a dragged card arrives on top of a DnD target
        ////event.target.classList.add("dragover") marche pas
        let target = event.target;
        /*while (!target.classList.contains("drop-dest")) {
            target = target.parentNode;
        }*/
        if (target.classList.contains(event.dataTransfer.getData("row"))) {
            target.classList.add("dnd-valid")
        } else {
            target.classList.add('dnd-invalid')
        }

    }

    function onDragLeave(event) {
        //when a dragged card leaves a DnD target
        ////event.target.classList.remove("dragover") marche pas
        let target = event.target;
        /*while (!target.classList.contains("drop-dest")) {
            target = target.parentNode;
        }*/
        try {
            target.classList.remove('dnd-valid', 'dnd-invalid')
            /*if (event.target.classList.contains(event.dataTransfer.getData("row"))) {
                event.target.classList.add('dnd-highlight')
            }*/
        } catch (e) {

        }

    }

    function endDragCard(event, row) {
        /*if (row !== 'Special') {
            let elem = document.getElementById(row);
            if (elem !== null || elem !== undefined) {
                elem.style.background = "";
            }
        }*/
        document.getElementById("Siege").classList.remove('dnd-highlight', 'dnd-valid', 'dnd-invalid', 'dnd-operation');
        document.getElementById("RangedCombat").classList.remove('dnd-highlight', 'dnd-valid', 'dnd-invalid', 'dnd-operation');
        document.getElementById("CloseCombat").classList.remove('dnd-highlight', 'dnd-valid', 'dnd-invalid', 'dnd-operation');
        document.getElementById("Weather").classList.remove('dnd-highlight', 'dnd-valid', 'dnd-invalid', 'dnd-operation');
    }

    function playMove(id, row) {
        console.log("move: ", id, row)
        document.getElementById('card-row').value = row;
        document.getElementById('card-id').value = id;
        //document.getElementById("form-play-submit").click()
        htmx.ajax('POST', '{{.Url}}', {
            target: '#gametable',
            values: {
                "row": row,
                "id": id,
            }
        })
    }
</script>
<script src="/static/htmx-1.6.1.js"></script>
</body>
</html>

{{define "card-caption"}}
<b>{{.DisplayName}}</b> #{{.Id}}<br/>
<p>Strength: <b>{{.Strength}}</b></p>
<p>Row: <b>{{.Row}}</b></p>
{{if .Effects}}
Effects:
{{end }}
<ul>
    {{range .Effects}}
    <li>{{.}}</li>
    {{end}}
</ul>
{{end}}

{{define "card" }}
<figure class="card" id="card-{{.Id}}">
    <img class="card" draggable="false" src="/static/{{.Picture}}"/>
    <figcaption class="card">
        {{template "card-caption" . }}
    </figcaption>
</figure>
{{end}}