<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML5 Gwynt - Waiting Room</title>
</head>
<body>
The link below can be sent to a friend so that he may join you to play.
<pre><code id="link">/multi/join/{{.Key}}</code></pre>

<div id="info" style="background-color: black;color: white; margin: 1rem; padding:1rem;">
    waiting for join
</div>

<div>
    <h3>Choose your deck</h3>
    {{range $i,$e := .User.Decks}}
    <button hx-get="/multi/choosedeck/{{$i}}" hx-swap="outerHTML">{{$e.Name}} ({{$e.Faction}})</button>
    {{end}}
</div>
<script src="/static/htmx-1.6.1.js"></script>
<!--
<form method="post" action="/multi/choosedeck">
    <select>
        {{range $i,$e := .User.Decks}}
        <option value="{{$i}}">{{$e.Name}}</option>
        {{end}}
    </select>
    <button type="submit">Choose deck</button>
</form>-->

<script>
    let elem = document.getElementById("link");
    let url = document.location.origin + elem.innerText;
    elem.innerText = url

    const eventSource = new EventSource("/multi/wait");
    eventSource.onerror = (event) => {
        console.log(event)
        eventSource.close()
    }
    eventSource.onopen = console.log
    eventSource.onmessage = console.log
    eventSource.addEventListener("hello", function (e) {
        console.log("hi !!!", e);
    });

    eventSource.addEventListener("joined", function (event) {
        document.getElementById('info').innerText = event.data

    });
    eventSource.addEventListener("deck", function (event) {
        document.getElementById('info').innerText = event.data
    })
    eventSource.addEventListener("ready", function (event) {
        document.getElementById('info').innerText = event.data
        console.log("ready !!!!")
        console.log(event)
        document.location.href = '/multi/game'
    })
    //eventSource.onmessage = console.log

</script>
</body>
</html>